html, body{
    width: 100%;
    overflow-x: hidden;
}

html{
    box-sizing: inherit;
}

body{
    position: relative;
    margin: 0px;
    font-family: Roboto, arial;
    background-color: #F8F8FF;
}

div, section,
.borderBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width:320px) {}/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:481px){}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:641px){}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:961px){}/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:1025px){}/* big landscape tablets, laptops, and desktops */
@media (min-width:1281px){}/* hi-res laptops and desktops */